.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.info {
  margin-top: 300px;
  font-size: 70px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  width: 150px;
  height: 80px;
  background-color: crimson;
  color: #FFF;
  font-size: 30px;
  border: none;
  border-radius: 5px;

}